  <div class="container my-4">
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>

    <div class="alert alert-info" *ngIf="cliente_list.length == 0"> 
      No hay registros en la base de datos
    </div>

    <table class="table" *ngIf="cliente_list.length > 0">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">APELLIDO</th>
          <th scope="col">CORREO</th>
          <th scope="col">FECHA CREADO</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of cliente_list ">
          <th scope="row">{{ cliente.id}}</th>
          <td>{{ cliente.nombre}}</td>
          <td>{{ cliente.apellido}}</td>
          <td>{{ cliente.email}}</td>
          <td>{{ cliente.createAt}}</td>
          <td>
            <button type="button" class="btn btn-primary" [routerLink]="['/clientes/form',cliente.id,]">editar</button> |
            <button type="button" class="btn btn-danger" (click)="delete(cliente)">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>